/api-site
/ceilometer
/cinder
/compute-api
/glance
/heat
/horizon
/identity-api
/image-api
/ironic
/python-ironicclient
/keystone
/magnum
/magnum-ui
/netconn-api
/neutron
/nova
/object-api
/python-ceilometerclient
/python-neutronclient
/python-novaclient
/libvirt
/qemu
/networking-odl
/packstack
/python-cinderclient
/python-glanceclient
/python-openstacksdk
/pktgen-dpdk
/murano
/murano-dashboard
/python-magnumclient
/python-muranoclient
/openstack-ras
/python-lefthandclient
/python-3parclient
/ceph
/seabios
/neutron-dynamic-routing
/networking-bgpvpn
/ryu
/ima-evm-utils
/rpm
/distributedcloud
/distributedcloud-client
/networking-sfc
/neutron-lib
