.cache/
*.egg-info
.idea
*.pyc
*.swp
.tox
*~
/downloads
installer-prebuilt
/mwa-beas
/mwa-chilon
/mwa-cleo
/mwa-delphi
/mwa-gplv2
/mwa-gplv3
/mwa-perian
/mwa-pitta
/mwa-solon
/mwa-sparta
/mwa-thales
/stx-gui
