.cache/
*.egg-info
.idea
*.pyc
*.swp
.tox
*~
/downloads
installer-prebuilt
/stx-clients
/stx-config
/stx-fault
/stx-gplv2
/stx-gplv3
/stx-ha
/stx-integ
/stx-metal
/stx-nfv
/stx-update
/stx-upstream
/stx-gui
